# Environnement virtuel
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Base SQLite
db.sqlite3

# Fichier d'environnement
.env

# Fichiers temporaires / logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/